body, html {
    min-height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(800px, 5fr);
}

aside {
    padding-top: 1rem;
    background-color: #1992d4;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

aside img {
    height: auto;
    width: 30px;
}

#logo {
    height: auto;
    width: 50px;
}

.sidebar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #f5fbff;
    gap: 1rem;
}

.menus button, .settings button {
    display: flex;
    background-color: transparent;
    border: none;
    color: #f5fbff;
    align-items: center;
    gap: 1rem;
}

button:hover {
    transform: scale(1.05);
    transition: all 0.1s ease;
}

button:active {
    transform: scale(1.15);
    transition: all 0.1s ease;
}

.main-content {
    display: grid;
    height: 100vh;
    grid-template-rows: 20% 80%;
}

header {
    padding: 1rem 2rem;
    background-color: #f5fbff;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 2rem;
}

header .top-nav {
    grid-row: 1 / 2;
}

header .bottom-nav {
    grid-row: 2 / 3;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-area {
    display: flex;
    gap: 2rem;
}

.profile-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-bar img {
    width: auto;
    height: 30px;
}

.search-bar button {
    background-color: transparent;
    border: none;
}

.search-bar input {
    width: 500px;
    height: 2rem;
    border: none;
    background-color: #e6e9eb;
    border-radius: 20px;
}

.bottom-nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-badge {
    display: flex;
    line-height: 0;
    align-items: center;
    gap: 1rem;
}

.share-buttons {
    display: flex;
    gap: 2rem;
}

.share-buttons button {
    color: #f5fbff;
    font-weight: bold;
    font-size: larger;
    background-color: #1992d4;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 50px;
}

.main-content main {
    background-color: #e6e9eb;
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: inset 0 5px 10px -2px gray
}

img#profile-picture {
    width: auto;
    height: 60px;
    border-radius: 50%;
}

.profile-badge img#profile-picture {
    width: auto;
    height: 70px;
}

.project-cards {
    padding: 1rem;
    padding-right: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 48%));
    grid-template-rows: 50px repeat(auto-fill, minmax(50px, 20%));
    gap: 1rem;
}

.project-cards h1 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.project-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f5fbff;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px gray;
}

.card .texts h4 {
    margin: 0;
}

.card .texts p {
    margin: 0;
}

.card .icons {
    align-self: flex-end;
}

.icons img {
    margin-left: 0.5rem;
}

.timeline {
    display: grid;
    grid-template-rows: 60px 1fr 60px 1fr;
}

.announcements {
    background-color: #f5fbff;
    height: 500px;
    width: 90%;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px gray;
}

.trending {
    background-color: #f5fbff;
    height: 400px;
    width: 90%;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px gray;
}