body, html {
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside {
    background-color: #1992d4;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.sidebar button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-color: transparent;
    border: none;
    color: #f5fbff;
    gap: 1rem;
}

.menus button, .settings button {
    display: flex;
    background-color: transparent;
    border: none;
    color: #f5fbff;;
    font-size: larger;
    align-items: center;
    gap: 2rem;
}

button:hover {
    background-color: rgb(245, 251, 255, 10%);
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

header {
    background-color: #f5fbff;
}

.main-content main {
    background-color: #e6e9eb;
}